  <div>
    <div class="grid grid-rows-1 grid-flow-col gap-4">
    <div class="p-4 border-4 box-border h-300 w-300">

      <h1 class="mb-4 text-3xl font-extrabold text-center text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span
          class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">{{titulo}}</span>
      </h1>
      <hr/>
      <app-formulario></app-formulario>
    </div>
  </div>
    <hr />
    <app-persona *ngFor="let personaElemento of personas; let i = index"
    [persona]="personaElemento"
    [indice]="i">
    </app-persona>
  </div>
