
  <div class="mb-6">
    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required class="form-control"
      #nombreInput
      />
  </div>

  <div class="mb-6">
    <label for="apellido" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
    <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required class="form-control"
      #apellidoInput
      />
  </div>

<div class="col">
  <button type="submit" class="btn btn-sm btn-accent"
  (click)="onAgregarPersona()">Agregar</button>
</div>
