<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{indice+1}}:{{persona.nombre}} {{persona.apellido}}
        <button type="submit" class="btn btn-sm btn-accent"
        (click)="emitirSaludo()">Editar
        </button>
      </div>
    </div>
  </div>
</div>
